@import url('https://fonts.googleapis.com/css2?family=Athiti&display=swap');
body {
  background: #212b38;
  color: #f8f8f2;
  font-family: 'Athiti';
}
a {
  color: #f692b2;
  text-decoration: none;
  font-size: 1.5rem;
}

nav a:hover {
  color: #ffcb6b;
  border-bottom: 1px solid #6ec1d6;
}
.content {
  max-width: 960px;
  margin: 0 auto;
}
.page-container p {
  font-size: 1.5rem;
  text-indent: 3rem;
  font-style: italic;
}

.page-container h1 {
  color: #6ec1d6;
}
nav {
  margin: 10px auto 80px;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid #caffb5;
}
nav a {
  margin-left: 12px;
}
nav .logo {
  margin-right: auto;
  font-size: 1rem;
}
footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  color: #777;
  border-top: 1px solid #caffb5;
}

.not-found {
  text-align: center;
}

.not-found a {
  color: #ffcb6b;
  text-decoration: underline;
  font-style: normal;
}
