.single {
  padding: 2px 16px;
  background: #171e27;
  display: block;
  margin: 20px 10px;
  border-left: 5px solid #FFB86C;

  h3{
    color: aliceblue;
    font-size: 1.5rem;
  }

  &:hover {
  border-left: 5px solid #caffb5;
  }
}
